{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^.+\\.css$", "<THIRD_PARTY_MODULES>", "^@/pages", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
